<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="banksSoap" />
                <binding name="bankSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.217:814/banks.asmx" binding="basicHttpBinding"
                bindingConfiguration="banksSoap" contract="EACBS.banksSoap"
                name="banksSoap" />
            <endpoint address="http://10.0.0.217/bankservice/bank.asmx" binding="basicHttpBinding"
                bindingConfiguration="bankSoap" contract="BANKS.bankSoap"
                name="bankSoap" />
        </client>
    </system.serviceModel>
</configuration>